/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    font-family: 'Roboto', sans-serif;
  }

  button:focus {outline:0;}

  .nameButton {
    background: transparent;
    border: 0;
    font-size: 16px;
    border-radius: 4px 4px 4px 0;
    transition-duration: 0.4s;
  }

  .nameButton:hover {
    background-color: #FF5666; /* Green */
    color: white;
  }

  form {
    padding: 10px 0 0 10px;
    border-left: 2px solid #00FDDC;
  }

  select {
      margin-left: 10px;
  }

  .nodeForm label {
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
  }
  
  .nodeForm input {
    vertical-align: middle;
  }

  .submitButton {
    background: #FF5666;
    border: 0;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    border-bottom: 2px solid #00FDDC;
  }

  .submitButton:hover {
    background: #00FDDC;
    border-bottom: 2px solid #FF5666;
    color: #363636;
    border-radius: 8px;
    transition-duration: 0.3s;
  }







